<div id="show-page">

  <div class="profile">
    <h1>Picture here</h1>

    <h3>Full Stack Developer</h3>

    <h1> <%= @user.name %> </h1>

    <div class="profile-info">
      <p><h5>📍<%= @user.location.capitalize %></h5></p>
      <p><h5>💬 <%= @user.language.capitalize %></h5></p>
      <p><h5>🌐 <%= "Remote/Hybrid" %></h5></p>
    </div>

    <button>SHare portfolio</button>
  </div>

  <p>----------------------------------------------------------------------------------</p>

  <div class="projects">
    <h2>Projects</h2>

    <p>project one card</p>
    <p>project 2 card</p>
    <p>project 3 card</p>

  </div>

  <p>---------------------------------------------------------------------------------</p>

  <div class="about">
    <h2>About</h2>

    <div class="stack-bio">
      <div class="stack">
        <h5>Tech Stack</h5>
        <div class="d-flex">
          <p>etcwefwe</p>
          <p>etc</p>
          <p>etc</p>
          <p>etwefwefc</p>
          <p>efewfewtc</p>
          <p>etc</p>
          <p>efwefwtc</p>
        </div>
      </div>

      <div class="bio">
        <h5>BIO</h5>
        <p> <%= @user.bio %> </p>
        <p> <%= @user.bio %> </p>
        <p> <%= @user.bio %> </p>
        <p> <%= @user.bio %> </p>
      </div>
    </div>

    <div class="edu-social">
      <div class="education">
        <h5>Coding education</h5>
        <p>Coding Bootcamp</p>
        <p>Le Wagon</p>
        <p>London</p>
      </div>

      <div class="social">
        <h5>Social Profiles</h5>
        <p>github, linkedin</p>
      </div>
    </div>

  </div>
  <p>---------------------------------------------------------------------------------</p>



  <h2><%= current_user %></h2>

  <h2><%= @user.id %></h2>
</div>
